{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <tittle>Add Item - Tupie</tittle>
        <link rel="stylesheet" href="{% static 'tupie_app/style.css' %}">
        <script src="{% static 'tupie_app/script.js' %}" defer></script>
    </head>
    <body>
            <div class header>
                <h1>List an Item on Tupie</h1>
            </div>

            <div class content>
                {% for message i messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}

                <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Title:</label>
                            {{ form.tittle }}
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label>Region:</label>
                            {{ form.region }}
                        </div>
                        <div class="form-group">
                            <label>District:</label>
                            {{ form.district }}
                        </div>
                        <div class="form-group">
                            <label>Ward:</label>
                            {{ form.ward }}
                        </div>
                        <div class="form-group">
                            <label>Place:</label>
                            {{ form.place }}
                        </div>
                        <div class="form-group">
                            <label>Street:</label>
                            {{ form.street }}
                        </div>
                        <button type="submit">List</button>
                </form>
                <p><a href="{% url 'tupie_app:home' %}">Back to home</a></p>
            </div>

    </body>
</html>