{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <tittle>Add Item - Tupie</tittle>
        <link rel="stylesheet" href="{% static 'tupie_app/style.css' %}">
        <script src="{% static 'tupie_app/script.js' %}" defer></script>
    </head>
    <body>
            <div class header>
                <h1>List an Item on Tupie</h1>
            </div>

            <div class content>
                {% for message i messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}

                <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="{% url 'tupie_app:login' %}">Log In</a></p>
            </div>

    </body>
</html>